.BackgroundImage{
  background-image: url("https://images.unsplash.com/photo-1597076537061-a6b58163aa45?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  height: 100vh;
  background-position: top; /*a kep tetejerol kezdodik es nem a kozeperol, a csempeket akarom inkabb megjeleniteni, nem az aljat*/
  background-repeat: no-repeat;
  background-size: cover;
}

.SecondBackgroundImage{
  background-image: url("https://images.unsplash.com/photo-1559163499-413811fb2344?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.ThirdBackgroundImage{
  background-image: url("https://images.unsplash.com/photo-1582389197101-8e56fdc81955?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}